.eligibility{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.eligibility>div{
    border-top-color: blue;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: white;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    color: black;
}
*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}